extends layout
block content
  h1= title
  main
    h2 Tarkistesumman laskenta ei onnistunut

    p
    | Tarkista että sovellukseesi on asetettu samat
    | konfiguraatioarvot kuin ./lib/tupasconfig.js tiedostoon.

    p
    | HUOM! Testipenkki tukee vain A01Y_ALG arvoa "03" --> SHA-256