body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

main {
  width: 800px;
}

form {
  width: 100%;
}

input[type="text"] {
  min-width: 200px;
  display: inline-block;
}

label {
  min-width: 200px;
  display: inline-block;
}

div {
  padding-bottom: 2em;
}

input[type="submit"] {
  height: 2em;
  font-weight: bold;
  color: darkgreen;
  width: 100px;
}
